body {
  background-color: rgb(253, 251, 251);
}

header {
  color: darkslateblue;
  background-color: rgb(201, 233, 245);
  padding: 10px;
  border-left: 5px solid rgb(167, 208, 234);
}

footer {
  background-color: rgb(227, 250, 255);
  padding: 10px;
  border-left: 5px solid rgb(167, 208, 234);
}

h1 {
  text-align: center;
}

strong {
  color: darkslateblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
}
